.list {
    list-style-type: none;
}

.label {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.showMoreText {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0px 8px;
    margin-top: 8px;
}
