.content {
    width: 100vw;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.sidebarWrapper {
    flex-shrink: 0;
    width: var(--sidebar-width);
}

.contentWrapper {
    flex: 1;
}
